<div class="card">
    <div class="card-header">
        <span>{{ timetable.day }}</span>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Stunde</th>
            <th>Fach</th>
            <th>Klasse</th>
        </tr>
        </thead>
        <tbody>
        {% for entries in timetable.timetableEntries %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ entries.lesson }}</td>
                <td>{{ entries.subject }}</td>
                <td>{{ entries.studentSchoolClass }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div><br>